.main__container {
  position: relative;

  .slider {
    position: relative;

    .slick__slider {
      display: flex !important;
      align-items: center;
      height: 665px;

      .slider__left {
        width: 50%;

        h1 {
          font-weight: bold;
          font-size: 55px;
          line-height: 67px;
          color: #E76363;
          margin: 0 0 25px 0;
        }

        p {
          font-size: 18px;
          line-height: 22px;
          color: #454545;
          max-width: 445px;
          margin: 0;
        }


        .slider__left-mini {
          display: flex;
          margin-top: 60px;


          .slider__left-box {
            width: 90px !important;
            height: 60px;
            border-radius: 8px;
            position: relative;

            .slider__left-box-small {
              width: 30px;
              position: absolute;
              left: 0;
              top: -35px;
              bottom: 0;
            }

            img {
              position: absolute;
              top: -20px;
              left: 2px;
              width: 90px;
              height: 90px;
            }

            &:not(:last-child) {
              margin-right: 11px;
            }
          }
        }

        .slider__left-btn {
          display: block;
          width: 250px;
          background: #E76363;
          border-radius: 50px;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          color: #FFFFFF;
          padding: 17px 35px;
          margin-top: 55px;
          transition: all .2s ease-in;
          border-bottom: 5px solid transparent;

          img {
            margin-left: 30px;
            display: inline-block;
          }

          &:hover {
            border-bottom: 5px solid #A93B3B;
          }
        }

      }

      .slider__right {
        width: 50%;
        position: relative;

        .right__img {
          position: absolute;
          z-index: 1;
          right: -35px;
          bottom: -350px;
          width: 760px;
        }

      }

    }

  }

  .swiper__row {
    width: 515px;
  }

  .slider__right-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
    position: absolute;
    right: 50px;
    bottom: 280px;
    z-index: 1;

    button {
      background-color: transparent;
      border: 1px dashed #E22727;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      margin-right: 150px;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 22px;
      }
    }
  }

  .btn__large {
    width: 67px !important;
    height: 67px !important;
  }

  .arrow__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .arrow__img {
      cursor: pointer;
      position: relative;
      z-index: 2;
      animation: down 3.5s infinite;
    }

    .btn__more {
      display: none;
    }

    .slider__left-btn {
      display: inline-block;
      background: #E76363;
      border-radius: 50px;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF;
      padding: 17px 35px;
      transition: all .2s ease-in;
      border-bottom: 5px solid transparent;

      img {
        margin-left: 30px;
        display: inline-block;
      }

      &:hover {
        border-bottom: 5px solid #A93B3B;
      }
    }
  }
  @-webkit-keyframes down {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translateY(15px);
    }
    40% {
      transform: translate(0);
    }
  }
}
